<!DOCTYPE ejs>
<ejs lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style/all.min.css">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
<!--start nav-->
  <nav class="navbar navbar-expand-lg sticky-top bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#"><img src="/public/Images/pulse.png"> HopeDrops</a>
      <button class="navbar-toggler" type="button" 
       data-bs-toggle="collapse"
       data-bs-target="#main" 
       aria-controls="main" 
       aria-expanded="false" 
       aria-label="Toggle navigation"><i class="fa-solid fa-bars"></i></button>

      <div class="collapse navbar-collapse" id="main">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link p-2 p-lg-3 " aria-current="page" href="home.ejs">Home</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="donors.ejs">List of Donors</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="aboutus.ejs">About</a></li>
          <li class="nav-item"><a class="nav-link p-2 p-lg-3" href="#">My Account</a></li>           
        </ul>
      </div>
        
      <div class="flag ms-5 d-none d-lg-block"><img src="/public/Images/JordanFlag.png"></div>
    </div>
  </nav>
<!--end nav-->

<!--start register-->
  <div class="register d-flex justify-content-center align-items-center ">
    <div class="text-center text-light">
      <h2 class="fw-bold">Sign up</h2>
      <p class=" fs-5 mb-5">Step Up, Be a Hero - Donate!</p>
      <input class="form-control mb-3" type="text" placeholder="Full Name" aria-label="default input example">
      <input class="form-control mb-3" type="text" placeholder="Email@gmail.com" aria-label="default input example">
      <input class="form-control mb-3" type="text" placeholder="phone Number" aria-label="default input example">
      <input type="password" id="inputPassword5" class="form-control mb-3" placeholder="password" aria-describedby="passwordHelpBlock">
      <select class="form-select mb-3 ">
        <option selected hidden style="display:none" value="">Blood Type</option>
        <option value="1">A+</option>
        <option value="2">A-</option>
        <option value="3">B+</option>
        <option value="4">B-</option>
        <option value="5">O+</option>
        <option value="6">O-</option>
        <option value="7">AB+</option>
        <option value="8">AB-</option>
      </select>
      <select class="form-select mb-3 ">
       <option selected hidden style="display:none" value="">Governorate</option>
      </select>
      <select class="form-select mb-3 ">
        <option selected hidden style="display:none" value="">Major general</option>
      </select>
      
     
      <a class="btn rounded-pill main-btn mt-3 mb-3 w-100" href="login.ejs">Sign Up</a>
      <div class="log text-center mb-3"><p class="">Already have an account? <a href="login.ejs">Log in</a></p></div>
    </div>
  </div>
<!--End register-->

<!--Start footer-->
  <div class="footer pt-5 pb-5 text-center text-md-start">
    <div class="container"> 
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="info mb-4">
            <h5 class="fw-bold" href="#"><span>Hope</span>Drops</h5>
            <p>If you are unable to donate blood , you can still difference by spreading the word about this website on social media</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="links">
            <h5 class=>Links</h5>
            <ul class="list-unstyled lh-lg">
              <li><a href="home.ejs">Home</a></li>
              <li><a href="donors.ejs">List Of Donors</a></li>
              <li><a href="aboutus.ejs">About</a></li>
              <li><a href="MyAccount.ejs">My Account</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="links">
            <h5>Contact Us</h5>
            <ul class="list-unstyled lh-lg">
              <li>+9627090656044</li>
              <li>HopeDrops24@gmail.com </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-2">
          <div class="contact mb-4">
            <h5 class="text-center">Social Media</h5>
            <ul class="list-unstyled mt-3 d-flex gap-3 align-items-center justify-content-center">
              <a class="d-block text-light" href="https://www.facebook.com/"><i class="fa-brands fa-facebook p-2 fa-lg" style="color: #000000;"></i></a>
              <a class="d-block text-light" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-lg instagram  p-2" style="color: #000000;"></i></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--End footer-->


<!-- <script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/all.min.js"></script>     -->

<script src="/public/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/all.min.js"></script>
<script src="/public/main.js"></script>

</body>
</ejs>